# binary files
*.so

cmake-build-debugindocker/
.DS_Store
# distribution and packaging
build/
build_out/
output/
dist/
*.egg-info/
*.egg
*.whl

# vim cache
*.swp

# python cache
*.pyc
__pycache__
MANIFEST.in

# python ut/st
cov_report/
report/
data/
*.dump
!**/st/msopgen/simulator/*.dump
tf_plugin_model.pb
V*_onnx_plugin_model.onnx

# protobuf
*.pb.h
*.pb.c

# cann tmp
lib/
kernel_meta/

# Jetbrain
.idea
cmake-build-debug
cmake-build-release

# Visual Studio
.vs

# Visual Studio Code
.vscode

# UT report file
ut_report.txt

# ascend package download dir
ascend_download

# makeself
# makeself

# tbetoolkits log files
tbetoolkits-*.log
*_result.csv

/third_party